
#chat {

    .animating() {
        .transition;
    }

    .size(100%, @canvas_height * 0.75 - 10);
    .pos;
    padding-top: @canvas_height * 0.25 + 10px;

    .chat() {
        position: relative;
        width: 90%;
        margin: auto;
        background: rgba(255,255,255,0.5);
        .animating;
        .rounded(3px);
    }

    #chat-messages {
        .chat;
        .opacity(0);
        height: 0.6 * @canvas_height;
        overflow-y: scroll;
    }

    #chat-panel {

        .chat;
        @panel_height: 0.15 * @canvas_height - 15px + 3;
        margin-top: @panel_height;
        height: @panel_height;

        form {
            margin: auto;
            padding-top: 20px;
            width: 90%;
        }

        @button_width   : 70px;

        input {
            width: @canvas_width * 0.9 * 0.9 - (@button_width + 20px);
            float: left;
        }

        button {
            width: @button_width;
            float: right;
        }
    }

    &.chatroom {

        #chat-messages {
            .opacity(1);
        }

        #chat-panel {
            margin-top: 5px;
        }

    }

    .msg {

        position: relative;
        display: block;
        .rounded(3px);
        .animating;
        background: rgba(255,255,255,0.3);
        margin: 12px;
        height: auto;
        overflow: hidden;

        .avatar {
            display: inline-block;
            overflow: hidden;
            margin: 12px;
            .rounded(24px);
            .box-shadow(1px 1px 2px rgba(0,0,0,0.5));
            img {
                .size(48px, 48px);
            }
        }

        .content {
            position: relative;
            display: inline-block;
            width: 85%;
            vertical-align: top;

            .stat {
                position: relative;
                margin-top: 12px;
            }

            .time {
                position: absolute;
                font-size: 10px;
                color: #333;
                bottom: 0;
                right: 0;
            }

            .message {
                width: 100%;
                margin-top: 6px;
                margin-bottom: 12px;
                margin-right: 12px;
                white-space: pre-wrap;
            }
        }

        &:hover {
            background: rgba(255,255,255,0.8);
        }

    }
}
