@import "utility";
@import "variable";
@import "elements";
@import "splash";
@import "chatroom";
@import "koiroom";

html, body {
    font-size: 14px;
    font-family: Helvetica, Arial, DejaVu Sans, sans-serif;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

