
#koi {

    .animating() {
        .transition;
    }

    .size;
    .pos;

    .panel() {
        background: rgba(255,255,255,0.5);
        .animating;
        .rounded(3px);
    }

    #koi-candidates {
        .panel;
        .opacity(0);
        position: relative;
        margin-top: 60px;
        width: 0.9 * @canvas_width + 16px;
        height: 0.85 * @canvas_height - 50px;
        margin-left: 5%;
        overflow-y: scroll;

        .friend .avatar img {
            .size;
        }
    }

    #koi-upper {
        .animating;
        .rounded(3px);
        .size(0.6 * @canvas_width - 12px, 0.3 * @canvas_width + 20px);
        .pos(20%, -0.3 * @canvas_width - 40px);
        padding: 12px;
        background: rgba(255,255,255,0.5);
        .box-shadow(0px 0px 8px rgba(0,0,0,0.5));
        text-align: center;

        .notify {
            position: absolute;
            bottom: 0px;
            left: 0px;
            margin-bottom: 12px;
            padding-top: 24px;
            text-align: center;
            width: 100%;
            z-index: 20;

            &:before{
                content: "选择列表内的好友完成配对";
            }

        }

        #match {
            .animating;
            .opacity(0);
            position: absolute;
            bottom: 12px;
            right: 12px;
            margin-bottom: 0px;
            z-index: 10;
        }

        #match-body {
            #match;
            left: 12px;
            width: 65%;
        }

        .friend {
            .rounded(3px);
            .animating;
            background: none;
            margin: 24px;
            margin-top: 8px;
            .size(150px, 150px);
            overflow: visible;
            text-align: center;

            .avatar {
                display: block;
                overflow: hidden;
                margin: auto;
                margin-top: 8px;
                .size(150px, 150px);
                img {
                    .rounded(3px);
                }
            }

            .user {
                background: rgba(255,255,255,0.8);
                margin-top: 6px;
                white-space: nowrap;
                .animating;
                color: #000;
            }

            &:hover {
                background: none;
            }

        }
    }

    #koi-panel {
        .panel;
        position: relative;
        @panel_height: 0.15 * @canvas_height - 15px + 3;
        margin-top: @panel_height;
        margin-left: 5%;
        width: 270px;
        height: @panel_height;

        form {
            margin: auto;
            padding-top: 20px;
            width: 90%;
        }

    }

    #user-panel {
        .panel;
        .animating;
        position: absolute;
        right: 10%;
        bottom: -35px;
        width: @canvas_width * 0.9 - 270px - 30px - 30px;
        height: 72px;
        padding: 12px;

        .avatar {
            display: inline-block;
            width: 64px;
            height: 64px;

            img{
                max-width: 100%;
                max-height: 100%;
                .rounded(3px);
                .box-shadow(1px 1px 2px rgba(0,0,0,0.5));
            }
        }

        .content {
            display: inline-block;
            margin-left: 12px;
            font-size: 16px;
            vertical-align: top;
        }

        .user {
            margin-top: 8px;
            &:before {
                content: "Hello ";
            }
        }

        .score {
            .opacity(0);
            margin-top: 8px;
            &:before {
                content: "当前积分 ";
            }
        }

        &:hover {
            bottom: -3px;
            .score {
                .opacity(1);
            }
        }

    } 

    .rank {
        position: absolute;
        bottom: -3px;
        right: 11%;
        color: rgba(0,0,0,0.3);
        font-size: 64px;
        .animating;
        .opacity(0);
        &.show {
            .opacity(1);
        }
        &:before {
            content: "#";
        }
    }

    &.wosuru {

        #koi-candidates {
            .opacity(1);
        }

        #koi-panel {
            margin-top: 5px;
        }

        #koi-upper {

            .pos(20%, -0.3 * @canvas_width);

            &.one {
                .notify {
                    &:before{
                        content: "请再选择一位好友";
                    }
                }
            }

            &.two {
                .pos(20%, -0.3 * @canvas_width + 12px);

                .notify {
                    .opacity(0);
                }
                
                #match {
                    .opacity(1);
                    z-index: 30;
                }

                #match-body {
                    #match
                }
            }

            &:hover {
                background: rgba(255,255,255,0.9);
                top: -3px;
            }
        }
    }

    .friend {

        position: relative;
        display: inline-block;
        .rounded(3px);
        .animating;
        background: rgba(255,255,255,0.3);
        margin: 8px;
        margin-right: 0px;
        margin-left: 12px;
        .size(90px, 100px);
        overflow: hidden;
        text-align: center;

        .avatar {
            display: block;
            margin: auto;
            margin-top: 8px;
            .size(64px, 64px);
            img {
                .animating;
                max-height: 100%;
                max-width: 100%;
                .box-shadow(1px 1px 2px rgba(0,0,0,0.5));
                .rounded(32px);
            }
        }

        .user {
            margin-top: 6px;
            margin-bottom: 12px;
            white-space: nowrap;
            .animating;
            color: #000;
        }

        &:hover {
            background: rgba(255,255,255,0.8);
            .avatar img {
                .rounded(3px);
            }
        }
        
        &.selected {
            background: rgba(0,0,0,0.5);
            .user {
                color: #FFF;
            }
        }

    }
    
    &.search {
        #koi-candidates .friend {
            .opacity;
            &.highlight {
                .opacity(1);
            }
            &.selected {
                .opacity(1);
            }
        }
    }
}
