
#splash {

    .animating() {
        .transition(0.5s);
    }

    @base_pos_v: 0.55;
    @v_anchor: @base_pos_v * @canvas_height;
    @m_margin_top: 15px;
    @m_margin_side: 35px;
    @m_pad_right: 10px;

    position: relative;
    .size(@canvas_width, @canvas_height);
    margin: auto;
    overflow: hidden;

    .background {
        .pos;
        .size;
        .animating;
        .rounded(3px);
        background: url("../img/background.jpg") no-repeat;
    }

    .blur {
        .background;
        background: url("../img/blur.jpg") no-repeat;
    }

    .main-title {
        .size(@mt_cn_width, @mt_cn_height);
        .pos((@canvas_width - @mt_cn_width) / 2 + 80px, 
             @v_anchor - @mt_cn_height - 15px);
        .opacity(0);
        .animating;
        background: url("../img/text_lc_cn.png") no-repeat;
    }

    .main-title-jp {
        .size(@mt_jp_width, @mt_jp_height);
        .pos((@canvas_width - @mt_jp_width) / 2 - 40px, 
             @v_anchor - @mt_jp_height - 5px);
        .opacity(0);
        .animating;
        background: url("../img/text_lc_jp.png") no-repeat;
    }

    .hr() {
        .size(70%, 2px);
        .pos;
        .opacity(0);
        .animating;
        background: #FFF;
    }

    .hr-fl {
        .hr;
        .pos(-@canvas_width*0.85, @v_anchor);
    }

    .hr-fr {
        .hr;
        .pos(@canvas_width, @v_anchor);
    }

    .sub-title-en {
        .size(@mt_en_width, @mt_en_height);
        .pos(0.15 * @canvas_width + @m_margin_side, 
             @v_anchor + @m_margin_top);
        .animating;
        .opacity(0);
        background: url("../img/text_lc_en.png") no-repeat;
    }

    .status-loading {
        .size(@st_loading_w, @st_loading_h);
        .pos(0.85 * @canvas_width - @st_loading_w - @m_margin_side - @spin_width - @m_pad_right, 
             @v_anchor + @m_margin_top);
        .opacity(0);
        background: url("../img/text_connecting.png") no-repeat;
    }

    .status-constructing {
        .size(@st_construct_w, @st_construct_h);
        .pos(0.85 * @canvas_width - @st_construct_w - @m_margin_side - @spin_width - @m_pad_right, 
             @v_anchor + @m_margin_top);
        .opacity(0);
        background: url("../img/text_constructing.png") no-repeat;
    }

    .spinner {
        .size(@spin_width, @spin_height);
        .pos(0.85 * @canvas_width - @m_margin_side - @spin_width, 
             @v_anchor + @m_margin_top - @spin_height / 2 + 10px);
        .opacity(0);
        background: url("../img/spin.png") no-repeat;
        overflow: visible;
    }

    &.splash {

        .background {
        }

        .main-title {
            .pos((@canvas_width - @mt_cn_width) / 2, 
                 @v_anchor - @mt_cn_height - 15px);
            .opacity(1);
        }

        .main-title-jp {
            .pos((@canvas_width - @mt_jp_width) / 2 + 40px, 
                 @v_anchor - @mt_jp_height - 5px);
            .opacity(1);
        }

        .hr-fl {
            .pos(15%, @v_anchor);
            .opacity(1);
        }

        .hr-fr {
            .pos(15%, @v_anchor + 1px);
            .opacity(1);
        }

        .sub-title-en {
            .opacity(1);
        }
        
        .opacity-animate {
            from {
                .opacity(0);
            }
            50% {
                .opacity(1);
            }
            to {
                .opacity(0);
            }
        }

        @-moz-keyframes opacity {
            .opacity-animate;
        }

        @-webkit-keyframes opacity {
            .opacity-animate;
        }

        .status-loading {
            -webkit-animation: opacity 2s linear infinite;
            -moz-animation: opacity 2s linear infinite;
        }

        .status-constructing {
            -webkit-animation: opacity 2s linear infinite;
            -moz-animation: opacity 2s linear infinite;
        }

        .spinner-animate {
            from {
                .rotation(0deg);
                .opacity(0);
            }
            50% {
                .opacity(1);
            }
            to {
                .rotation(360deg);
                .opacity(0);
            }
        }

        @-webkit-keyframes rotating {
            .spinner-animate;
        }

        @-moz-keyframes rotating {
            .spinner-animate;
        }

        .spinner {
            -webkit-animation: rotating 2s linear infinite;
            -moz-animation: rotating 2s linear infinite;
        }


    }

    &.chatroom {
        
        @base_pos_v: 0.25;
        @v_anchor: @base_pos_v * @canvas_height;

        .background {
            .opacity(0);
        }

        .main-title {
            .pos((@canvas_width - @mt_cn_width) / 2, 
                 @v_anchor - @mt_cn_height - 15px);
        }

        .main-title-jp {
            .pos((@canvas_width - @mt_jp_width) / 2 + 40px, 
                 @v_anchor - @mt_jp_height - 5px);
        }

        .hr-fl {
            .pos(5%, @v_anchor);
            .size(90%, 2px);
        }

        .hr-fr {
            .pos(5%, @v_anchor + 1px);
            .size(90%, 2px);
        }

        .sub-title-en {
            .pos(0.05 * @canvas_width + @m_margin_side, 
                 @v_anchor + @m_margin_top);
            .opacity;
        }

        .animation-play-state(@state) {
            -webkit-animation-play-state: @state;
            -moz-animation-play-state: @state;
            -o-animation-play-state: @state; 
            animation-play-state: @state;
        }

        .status-loading {
            .animation-play-state(pause);
            .transition;
            .opacity(0);
        }

        .status-constructing {
            .animation-play-state(pause);
            .transition;
            .opacity(0);
        }

        .spinner {
            .animation-play-state(pause);
            .transition;
            .opacity(0);
        }
    }

    &.koiconn {
        
        @base_pos_v: 0.25;
        @v_anchor: @base_pos_v * @canvas_height;

        .background {
            .opacity(0);
        }

        .main-title {
            .pos((@canvas_width - @mt_cn_width) / 2, 
                 @v_anchor - @mt_cn_height - 15px);
            .opacity(0.25);
        }

        .main-title-jp {
            .pos((@canvas_width - @mt_jp_width) / 2 + 40px, 
                 @v_anchor - @mt_jp_height - 5px);
            .opacity(0.25);
        }

        .hr-fl {
            .pos(5%, @v_anchor);
            .size(90%, 2px);
            .opacity(0);
        }

        .hr-fr {
            .pos(5%, @v_anchor + 1px);
            .size(90%, 2px);
            .opacity(0);
        }

        .sub-title-en {
            .pos(0.05 * @canvas_width + @m_margin_side, 
                 @v_anchor + @m_margin_top);
            .opacity(0);
        }

        .animation-play-state(@state) {
            -webkit-animation-play-state: @state;
            -moz-animation-play-state: @state;
            -o-animation-play-state: @state; 
            animation-play-state: @state;
        }

        .status-loading {
            .animation-play-state(pause);
            .transition;
            .opacity(0);
        }

        .status-constructing {
            .animation-play-state(pause);
            .transition;
            .opacity(0);
        }

        .spinner {
            .animation-play-state(pause);
            .transition;
            .opacity(0);
        }

    }

}
