
// Dimensions
@canvas_width   : 710px;
@canvas_height  : 535px;

// Dimensions For Splash
@mt_en_width    : 150px;
@mt_en_height   : 18px;
@mt_jp_width    : 398px;
@mt_jp_height   : 61px;
@mt_cn_width    : 443px;
@mt_cn_height   : 84px;

@st_loading_w   : 119px;
@st_loading_h   : 21px;
@st_construct_w : 90px;
@st_construct_h : 19px;

@spin_width     : 16px;
@spin_height    : 19px;
