#koi
  .rank
  #koi-candidates
  #koi-upper
    input#match-body(type="text", placeholder="给两句祝福语！")
    button#match.btn.btn-success(type="submit") 你们很般配！
    .notify &nbsp;
  #koi-panel
    form.form-horizontal
      .control-group
        input#search.search-query(type="text", autocomplete="off", placeholder="没有找到好友？")
  #user-panel
    .avatar
      img#avatar
    .content
      .user
      .score

