doctype default
include mixins
html
  head
    block head
      block meta
        //- Metadata Section, Encoding & ViewPort
        meta(charset="utf-8")
        mixin viewport
      block styles
        mixin stylesheet("css/interface.css")
        // Partial components from bootstrap
        mixin stylesheet("css/bootstrap.css")
      //- Shortcut Icon
      link(rel="shortcut icon", href="img/connect_16x16.png")
  body
    block content
    block scripts
      //- jQuery
      mixin javascript("js/jquery.min.js")
      //- underscore utility library
      mixin javascript("js/underscore.js")
      //- Socket.IO
      mixin javascript("js/socket.io.js")
