
mixin stylesheet(path)
  link(type="text/css", rel="stylesheet", href=path)

mixin javascript(path)
  script(type="text/javascript", src=path)

mixin viewport
  meta(name="viewport", content="width=device-width, initial-scale=1.0")

