extends basic
append head
  title KOI-CONNECT
block content

append styles

append scripts
  mixin javascript("js/common.js")
  mixin javascript("js/renren.js")
  mixin javascript("js/templates.js")

